.navbar {
    padding: 20px 0;
    background: white;
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    font-size: 24px;
    font-weight: 700;
}


.navbar__menu {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar__menuItem {
    cursor: pointer;
    font-size: 16px;
}


/* Hide mobile button on desktop */
.navbar__toggle {
    display: none;
}


/* Mobile */
@media (max-width: 768px) {

    .navbar__toggle {
        display: block;
        border: none;
        background: transparent;
        font-size: 28px;
        cursor: pointer;
    }


    .navbar__menu {

        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;

        flex-direction: column;
        gap: 20px;

        background: white;
        padding: 30px 0;

        display: none;
    }


    .navbar__menu--open {
        display: flex;
    }


    .navbar__menuItem {
        font-size: 18px;
    }

}